@media (max-width: 639px) and (min-width: 320px) {
  .sidebar {
    &__wrapper {
      width: 5rem;
    }

    &__upbtn {
      background-position: center;
      // background-size: 15px 16px;
      height: 5rem;
    }

    &__downbtn {
      height: 5rem;
    }

    &__item {
      height: 5rem;
    }

    &__live {
      display: none;
    }

    &__border {
      width: 100%;
      height: 100%;
      box-shadow: none;
      border-radius: 0;
    }

    &__circle {
      background-color: $navy;
      width: 100%;
      height: 100%;
      border-radius: none;
    }

    &__circle_panda {
      background-image: url(../assets/icons/panda-icon-orange.svg);
      background-size: 2.6rem 1.95rem;
    }

    &__circle_eagles {
      background-image: url(../assets/icons/eagle-icon-orange.svg);
      background-size: 2.6rem 1.95rem;
    }

    &__circle_gorilla {
      background-image: url(../assets/icons/gorilla-icon-orange.svg);
      background-size: 2.6rem 1.95rem;
    }

    &__circle_lemur {
      background-image: url(../assets/icons/lemur-icon-orange.svg);
      background-size: 2.6rem 1.95rem;
    }
  }

  .animal {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    &__title-wrapper {
      padding-bottom: 2rem;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      padding-left: 4rem;
      order: 1;
    }

    &__camera {
      order: 2;
      width: 100%;
      height: 100%;

      &-frame {
        margin-left: 4rem;
        width: 26rem;
        height: 20rem;
      }
    }

    &__views {
      order: 3;
      margin-top: 2rem;

      &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__carousel {
      margin-top: 2rem;
    }

    &__item {
      &-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10.218px;
        line-height: 150%;
        background-size: 11.35px 11.35px;
        padding: 3px 32px 3px 10px;
        background-position: 78% 50%;
      }
    }

    &__frame {
      width: 14rem;
      height: 11rem;
    }

    &__btn {
      position: relative;
      order: 4;
      margin-top: 5rem;
      width: 300px;
      height: 45px;
      padding-left: 6.5rem;
      background-position: 78% 50%;

      &-left {
        display: none;
      }

      &-right {
        display: none;
      }
    }
  }

  #animal-cam-three {
    display: none;
  }

  .donation {
    &__wrapper {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    &__text-zoos {
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .profile {
    &__wrapper {
      padding-top: 5rem;
      padding-bottom: 8rem;
    }

    &__question {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      margin: 3rem 0;
    }

    &__answer {
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__info {
      padding-top: 5rem;
    }

    &__block {
      flex-direction: column;
    }

    &__photo {
      order: 1;
      max-width: 60rem;
      min-width: 30rem;
      max-height: 60rem;
      min-height: 30rem;
      width: 100%;
      height: 100%;
    }

    &__description {
      order: 2;
      margin-top: 5rem;
    }

    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &__content {
      padding-left: 0;
    }

    &__btn-view {
      margin-left: 0;
      margin-top: 3rem;
    }

    &__btn-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__text {
      margin-top: 1rem;
    }
  }
}
