@media (max-width: 639px) and (min-width: 320px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    &__nav {
      display: none;
    }
  }

  .main {
    background: linear-gradient(
        180.96deg,
        #ffffff 0.2%,
        rgba(255, 255, 255, 0) 5.62%
      ),
      linear-gradient(219.86deg, #ffffff 0.49%, rgba(255, 255, 255, 0) 6.78%),
      linear-gradient(141.69deg, #ffffff 13.5%, rgba(247, 247, 247, 0) 22.24%),
      url(.././img/panda-background.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    background-size: auto 320px;
    background-position: 85% 105%;
    &__title {
      padding-top: 13rem;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }

    &__text {
      margin-top: 2rem;
    }

    &__btn {
      width: 300px;
      height: 45px;
      padding-left: 6rem;
      background-position: 80% 50%;
      margin-top: 3rem;
      margin-bottom: 28rem;
    }
  }

  .welcome {
    &__wrapper {
      flex-direction: column;
      margin-top: 5rem;
      margin-bottom: 0;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    &__img {
      order: 1;
    }

    &__info {
      order: 2;
    }
  }

  .work {
    &__wrapper {
      flex-direction: column;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  .donation {
    &__wrapper {
      flex-direction: column;
      padding-top: 3rem;
      padding-bottom: 4rem;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }

    &__text {
      margin-top: 3rem;
      text-align: center;
      margin-bottom: 3rem;
    }

    &__donate-text {
      text-align: center;
    }

    &__amount {
      width: 30rem;
      height: 4.5rem;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      &-arrow {
        width: 5.9rem;
        height: 4.4rem;
      }
    }

    &__donate {
      &::before {
        top: 56px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .meet {
    &__wrapper {
      padding-bottom: 3.4rem;
    }

    &__title {
      font-weight: 500;
      font-size: 25px;
      line-height: 32px;
      margin-top: 5rem;
      margin-bottom: 3rem;
    }

    &__text {
      font-size: 18px;
      line-height: 150%;
    }

    &__arrows {
      display: none;
    }

    &__items {
      margin-top: 3rem;
    }

    &__animal {
      margin-top: 1.5rem;
    }

    &__description {
      max-width: 25rem;
    }

    &__item {
      height: 60rem;
    }

    &__btn-view {
      margin-bottom: 1rem;
    }

    &__btn {
      display: none;
    }
  }

  .pay {
    &__wrapper {
      padding-top: 2rem;
      padding-bottom: 5rem;
    }

    &__block {
      flex-direction: column;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    &__btn {
      margin: 0;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__info {
      padding-top: 3rem;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      margin-bottom: 5rem;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }

    &__text {
      margin-top: 3rem;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &__number {
      padding-right: 1rem;
    }

    &__btn {
      width: 30rem;
      height: 4.5rem;
      padding-left: 6.5rem;
      background-position: 78% 50%;
    }
  }

  .users {
    background: linear-gradient(
        180deg,
        #20113d 18.43%,
        #20113d 29.66%,
        rgba(32, 17, 61, 0) 47.59%
      ),
      url(../img/users-panda.png) no-repeat;
    background-color: #20113d;
    background-size: auto 700px;
    background-position: 17% 105%;
    background-repeat: no-repeat;

    &__wrapper {
      margin-top: 4rem;
      margin-bottom: 45rem;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      width: 100%;
      text-align: center;
    }

    &__info {
      margin-right: 0;
    }

    &__main {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      margin-top: 3rem;
      margin-bottom: 4.6rem;
    }

    &__item {
      padding: 5rem 2rem;
    }

    &__city {
      margin-top: 3.5rem;
      text-align: center;
    }

    &__review {
      text-align: center;
    }

    &__name {
      margin-top: 4.7rem;
      text-align: center;
    }

    &__pagination {
      display: flex;
      justify-content: center;
      padding-bottom: 5rem;
      &-wrapper {
        max-width: 9.2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__arrows-wrapper {
      display: none;
    }

    &__dot-item {
      height: 0.8rem;
      width: 0.8rem;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }

    &__feedback {
      width: 30rem;
      height: 4.5rem;
      padding-left: 4.7rem;
      background-position: 85% 50%;
    }
  }

  #users__item-two {
    display: none;
  }

  .care {
    &__wrapper {
      margin-top: 5rem;
      margin-bottom: 8rem;
    }

    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }

    &__text {
      margin-top: 3rem;
      margin-bottom: 3rem;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
    }

    &__animals {
      margin-top: 0;
    }

    &__item-main {
      display: none;
    }

    &__item {
      min-width: 30rem;
    }

    &__description {
      width: 24.5rem;
    }

    &__btn {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    &__pagination {
      display: flex;
      width: 9.2rem;
      justify-content: space-between;
    }

    &__bullet {
      border: 1px solid #000000;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &__btn-choose {
      margin-top: 5rem;
      width: 300px;
      height: 45px;
      padding-left: 2.8rem;
      text-transform: capitalize;
    }

    &__img-bottom {
      margin-top: 8rem;
    }
  }

  #tiger-feed,
  #lemur-feed,
  #eagles-feed {
    display: none;
  }

  .footer {
    &__upper {
      flex-direction: column;
      padding-top: 5rem;
      padding-bottom: 3rem;
      border-bottom: none;
      align-items: center;
    }

    &__logos {
      flex-direction: column;
      align-items: center;
      margin: 0;

      &-item {
        margin-bottom: 3rem;
      }
    }

    &__menu {
      margin-top: 0;
      margin-bottom: 3rem;
    }

    &__btn {
      width: 299px;
      height: 45px;
      text-transform: none;
    }

    &__down {
      flex-direction: column;
      padding-top: 0;
      align-items: center;
      padding-bottom: 0;
    }

    &__info {
      padding-top: 3rem;
      flex-direction: column;
      align-items: center;
      order: 2;
      border-top: 1px solid #ffffff;
      margin-top: 0;
      margin-bottom: 2rem;
      &-item {
        margin-bottom: 3rem;
      }
    }

    &__social {
      order: 1;
      width: 22rem;
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }

  #koala,
  #lemur,
  #gorilla,
  #crocodile,
  #eagles,
  #lion,
  #tiger {
    display: none;
  }
}
