.donation__text-zoos {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff;
  max-width: 87.5rem;
  margin-top: 2rem;
}

.main-zoo {
  position: relative;
}

.sidebar {
  position: absolute;
  height: 100%;

  &__wrapper {
    position: sticky;
    top: 0;
    left: 0;
    height: 84.6rem;
    width: 22rem;
    z-index: 999;
  }

  &__upbtn {
    position: relative;
    height: 7.9rem;
    border-bottom: 1px solid #fff;
    background-color: #20113d;
    background-image: url(../assets/icons/sidebar-arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 87% 50%;
    cursor: pointer;
  }

  &__live {
    position: absolute;
    background: #f58021;
    border-radius: 0px 0px 5px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.4rem;
    width: 12rem;
    box-sizing: border-box;
    background-image: url(../assets/icons/camera.svg);
    background-repeat: no-repeat;
    background-position: 75% 50%;
  }

  &__downbtn {
    height: 7.9rem;
    background-color: #20113d;
    background-image: url(../assets/icons/btn-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__border {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 3px #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__circle {
    width: 10.4rem;
    height: 10.4rem;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #f58021;
    }
  }

  &__circle_panda {
    background-image: url(../assets/icons/panda-icon.svg);
  }

  &__circle_eagles {
    background-image: url(../assets/icons/eagle-icon.svg);
  }

  &__circle_gorilla {
    background-image: url(../assets/icons/gorilla-icon.svg);
  }

  &__circle_lemur {
    background-image: url(../assets/icons/lemur-icon.svg);
  }

  &__animals {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 2rem;
    cursor: pointer;
    height: 17rem;
    background-color: #20113d;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.animal {
  &__wrapper {
    position: relative;
    padding-top: 5.4rem;
    padding-bottom: 15rem;
  }

  &__title-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 5rem;
  }

  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00a092;
    text-align: center;
    margin: 0;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 74px;
    background-color: #f58021;
    margin-top: 5.4rem;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 3.4rem;
    color: #ffffff;
    outline: none;
    border: none;
    background-image: url(../assets/icons/arrow-right-white-c.svg);
    background-repeat: no-repeat;
    background-position: 88% 50%;
    cursor: pointer;

    &:hover {
      background-color: #d26004;
      transition: 0.5s;
    }
  }

  &__camera {
    // width: 140rem;
    // height: 78.7rem;
  }

  &__views {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 51px;
      text-transform: uppercase;
      color: #000;
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  &__carousel {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 122.6rem;
    width: 100%;
  }

  &__btn-left {
    width: 8rem;
    height: 7.4rem;
    border-radius: 5px;
    background-image: url(../assets/icons/animal-left.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    // &:hover {
    //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // }
  }

  &__btn-right {
    width: 8rem;
    height: 7.4rem;
    border-radius: 5px;
    background-image: url(../assets/icons/animal-right.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;

    // &:hover {
    //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // }
  }

  &__cameras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 104rem;
    width: 100%;
  }

  &__item {
    position: relative;

    &-title {
      position: absolute;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      color: #fff;
      text-transform: uppercase;
      padding: 6px 70px 6px 40px;
      border-right: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px 0px;
      z-index: 3;
      background-image: url(../assets/icons/camera.svg);
      background-repeat: no-repeat;
      background-position: 75% 50%;
    }

    &-wrapper {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &-active {
      border: 3px solid #f58021;
      border-radius: 2px;
    }
  }

  &__frame {
    // width: 32rem;
    // height: 20.9rem;
    // border-radius: 5px;
  }
}

.profile {
  &__wrapper {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  &__youknow {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-inner {
      max-width: 104rem;
      width: 100%;
      background: #fff;
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__question {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #00a092;
    margin-top: 4.6rem;
    margin-bottom: 2rem;
  }

  &__answer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    color: #000;
    margin-top: 0;
    margin-bottom: 5rem;
    max-width: 91.9rem;
  }

  &__info {
    padding-top: 14.8rem;
  }

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 116rem;
    width: 100%;
  }

  &__description {
    position: relative;
  }

  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 1.8rem;
  }

  &__name,
  &__scientific {
    margin-bottom: 2.5rem;
  }

  &__content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    padding-left: 2rem;
  }

  &__photo {
    width: 44rem;
    height: 44rem;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__text {
    margin-top: 5rem;
    max-width: 116rem;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
  }

  &__habitat {
    margin-bottom: 0;
  }

  &__btn-view {
    top: -2rem;
    left: 24rem;
    width: 240px;
    height: 74px;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20.273px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 4.4rem;
    color: #f58021;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../assets/icons/arrow-rigth-orange-c.svg);
    background-repeat: no-repeat;
    background-position: 78% 50%;
    margin-left: 1.6rem;
    &:hover {
      background-color: #f58021;
      color: #fff;
      transition: 0.5s;
      background-image: url(../assets/icons/arrow-right-white.svg);
    }
  }
}

.panda {
  background-image: url(../img/zoos/zoo-panda.png);
}

.lemur {
  background-image: url(../img/zoos/zoo-lemur.png);
}

.gorilla {
  background-image: url(../img/zoos/zoo-gorilla.png);
}

.eagles {
  background-image: url(../img/zoos/zoo-eagles.png);
}
